<section class="home-packages">

    <h1 class="heading-title">Nossos Pacotes</h1>

    <div class="box-container">

        <div class="box">
            <div class="image">
                <img src="../../public/images/img-1.jpg" alt="">
            </div>
            <div class="content">
                <h3>Aventuras e Passeios</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, sint!</p>
                <a href="book.php" class="btn">Reserve agora</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="../../public/images/img-2.jpg" alt="">
            </div>
            <div class="content">
                <h3>Aventuras e Passeios</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, sint!</p>
                <a href="book.php" class="btn">Reserve agora</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="../../public/images/img-3.jpg" alt="">
            </div>
            <div class="content">
                <h3>Aventuras e Passeios</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos, sint!</p>
                <a href="book.php" class="btn">Reserve agora</a>
            </div>
        </div>
    </div>

    <div class="load-more"> <a href="package.php" class="btn">Veja Mais pacotes</a> </div>
</section>