<section class="home">

    <div class="swiper home-slider ">

        <div class="swiper-wrapper">

            <div class="swiper-slide slide">
                <div class="content">
                    <span>Explore, descubra, viage</span>
                    <h3>Viagem ao redor do mundo</h3>
                    <a href="package.php" class="btn">Descubra mais</a>
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="content">
                    <span>Explore, descubra, viage</span>
                    <h3>Novas experiências e descobertas</h3>
                    <a href="package.php" class="btn">Descubra mais</a>
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="content">
                    <span>Explore, descubra, viage</span>
                    <h3>Faça seu passeio valer a pena</h3>
                    <a href="package.php" class="btn">Descubra mais</a>
                </div>
            </div>
        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</section>