<section class="services">
    <h1 class="heading-title">Nossos serviços</h1>

    <div class="box-container">

        <div class="box">
            <img src="../images/icon-1.png" alt="">
            <h3>Aventuras</h3>
        </div>

        <div class="box">
            <img src="../images/icon-2.png" alt="">
            <h3>Guia Turístico</h3>
        </div>

        <div class="box">
            <img src="../images/icon-3.png" alt="">
            <h3>Trilhas</h3>
        </div>

        <div class="box">
            <img src="../images/icon-4.png" alt="">
            <h3>Fogueira</h3>
        </div>

        <div class="box">
            <img src="../images/icon-5.png" alt="">
            <h3>Off road</h3>
        </div>

        <div class="box">
            <img src="../images/icon-6.png" alt="">
            <h3>Acampamento</h3>
        </div>
    </div>
</section>
